---
import Base from "../layouts/Base.astro";

const siteName = "_starter";
---

<Base title={siteName}>
  {/* Replace this file when implementing the Figma design for this site. */}
  <h1>{siteName}</h1>
</Base>
